In [1]:
import pandas as pd

In [15]:
data=pd.read_csv('Dataset\Test.csv')

In [16]:
data.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6,B
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6,A
2,458996,Female,Yes,69,No,NaN,0.0,Low,1.0,Cat_6,A
3,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6,B
4,459001,Female,No,19,No,Marketing,NaN,Low,4.0,Cat_6,A

In [18]:
data.describe

<bound method NDFrame.describe of           ID  Gender Ever_Married  Age Graduated     Profession  \
0     458989  Female          Yes   36       Yes       Engineer
1     458994    Male          Yes   37       Yes     Healthcare
2     458996  Female          Yes   69        No            NaN
3     459000    Male          Yes   59        No      Executive
4     459001  Female           No   19        No      Marketing
...      ...     ...          ...  ...       ...            ...
2622  467954    Male           No   29        No     Healthcare
2623  467958  Female           No   35       Yes         Doctor
2624  467960  Female           No   53       Yes  Entertainment
2625  467961    Male          Yes   47       Yes      Executive
2626  467968  Female           No   43       Yes     Healthcare

      Work_Experience Spending_Score  Family_Size  Var_1 Segmentation
0                 0.0            Low          1.0  Cat_6            B
1                 8.0        Average          4.0  Cat_6            A
2                 0.0            Low          1.0  Cat_6            A
3                11.0           High          2.0  Cat_6            B
4                 NaN            Low          4.0  Cat_6            A
...               ...            ...          ...    ...          ...
2622              9.0            Low          4.0  Cat_6            B
2623              1.0            Low          1.0  Cat_6            A
2624              NaN            Low          2.0  Cat_6            C
2625              1.0           High          5.0  Cat_4            C
2626              9.0            Low          3.0  Cat_7            A

[2627 rows x 11 columns]>

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627 entries, 0 to 2626
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2627 non-null   int64
 1   Gender           2627 non-null   object
 2   Ever_Married     2577 non-null   object
 3   Age              2627 non-null   int64
 4   Graduated        2603 non-null   object
 5   Profession       2589 non-null   object
 6   Work_Experience  2358 non-null   float64
 7   Spending_Score   2627 non-null   object
 8   Family_Size      2514 non-null   float64
 9   Var_1            2595 non-null   object
 10  Segmentation     2627 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 225.9+ KB

In [20]:
data.isna().sum()

ID                   0
Gender               0
Ever_Married        50
Age                  0
Graduated           24
Profession          38
Work_Experience    269
Spending_Score       0
Family_Size        113
Var_1               32
Segmentation         0
dtype: int64

In [22]:
data['Ever_Married'].isna().sum()

np.int64(50)

In [26]:
data['Ever_Married'].mode()

0    Yes
Name: Ever_Married, dtype: object

In [27]:
data['Ever_Married'].fillna(data['Ever_Married'].mode)

0       Yes
1       Yes
2       Yes
3       Yes
4        No
       ...
2622     No
2623     No
2624     No
2625    Yes
2626     No
Name: Ever_Married, Length: 2627, dtype: object

In [30]:
data['Profession'].fillna(data['Profession'].mode)

0                                                Engineer
1                                              Healthcare
2       <bound method Series.mode of 0            Engi...
3                                               Executive
4                                               Marketing
                              ...
2622                                           Healthcare
2623                                               Doctor
2624                                        Entertainment
2625                                            Executive
2626                                           Healthcare
Name: Profession, Length: 2627, dtype: object

In [33]:
k=int(data['Age'].isna().sum())

In [34]:
k

0

In [ ]:
def clean_and_preprocess(colum_list:list,data):
    for i in colum_list:
        if int(data[i].isna().sum())!=0:
            data[i]=data[i].fillna(data[i].mode)
        
        if not pd.api.types.is_numeric_dtype(data[i]):
            print(f"{i} -------------------is non-numeric feature")

In [63]:
clean_and_preprocess(data.columns.to_list(),data)

Gender -------------------is non-numeric feature
Ever_Married -------------------is non-numeric feature
Graduated -------------------is non-numeric feature
Work_Experience -------------------is non-numeric feature
Spending_Score -------------------is non-numeric feature
Family_Size -------------------is non-numeric feature
Var_1 -------------------is non-numeric feature
Segmentation -------------------is non-numeric feature

In [49]:
data.isna().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
dtype: int64

In [50]:
data.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6,B
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6,A
2,458996,Female,Yes,69,No,<bound method Series.mode of 0 Engi...,0.0,Low,1.0,Cat_6,A
3,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6,B
4,459001,Female,No,19,No,Marketing,<bound method Series.mode of 0 0.0\n1 ...,Low,4.0,Cat_6,A

In [53]:
data['Profession'].isna().sum()

np.int64(0)

In [55]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

data['Profession']=le.fit_transform(data['Profession'].astype(str))

In [56]:
data['Profession']

0       3
1       6
2       0
3       5
4       9
       ..
2622    6
2623    2
2624    4
2625    5
2626    6
Name: Profession, Length: 2627, dtype: int64

In [59]:
# Example: Check if 'Profession' is non-numeric
import pandas as pd

if not pd.api.types.is_numeric_dtype(data['Gender']):
    print("'Profession' is non-numeric")
else:
    print("'Profession' is numeric")

'Profession' is non-numeric